<%- include('header') %>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% todos.forEach(todo => { %>
  <label class="item">
    <input type="checkbox" name="items">
    <p><%= todo %></p>
  </label>
  <% }) %>

  <form method="POST">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" autofocus>
    <button type="submit">+</button>
  </form>
</div>

<%- include('footer') %>
